*{margin: 0; box-sizing: border-box;}

header, main, section, footer {display: block}

header {
  background-color: #f8d7da;
}
.salon {text-align: center; }

.menu {
  color: white;
}
.banner{background-image: url("../images/fon1.jpg");height: 293px;background-repeat: no-repeat;background-size: cover;margin-top: 12px;}


footer {
  background-color: #f8d7da;
}
.foot {
  text-align: center; 
}
